.card {
    border: 1px solid rgba(61, 19, 150, 0.979167);
    margin: 10px;
    margin-left: 11px;
    width: 23%;
    display: inline-block;
    text-align: center;
    border-radius: 10px;
}

.cardTitle {
    color: rgba(61, 19, 150, 0.979167);
    font-size: 1.5vw;
    text-align: center;
    font-family: Galindo, serif;
    margin: 2px;
}

.txt {
    margin: 2px;
    color: rgba(61, 19, 150, 0.979167);
    font-size: 1.3vw;
    text-align: center;
    font-family: Galindo, serif;
}

.txtLink {
    text-decoration: underline;
    color: rgba(61, 19, 150, 0.979167);
    font-size: 1.3vw;
    text-align: center;
    font-family: Galindo, serif;
}